#cart-header {
  margin-top: 30px;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.product h2 {
  font-size: 21px;
}

.product img {
  border-radius: 12px;
  box-shadow: 0 -1px 5px 3px #01454b;
}

.product button {
  background-color: #d3df52;
  font-size: 20px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
  padding: 7px;
  color: #010101;
}

/* building the grid */
.product {
  display: grid;
  border: solid black 2px;
  background-color: #2a2424;
  color: rgb(255, 255, 255);
  box-shadow: 0 -1px 5px 3px #01454b;
  border-radius: 10px;
  text-align: center;
  grid-gap: 75px;
  row-gap: 50px;
  grid-template-columns: 150px 150px;
  grid-template-areas:
    "the-image the-text the-amount"
    "the-image the-text the-button";
}

.the-image {
  grid-area: the-image;
}
.the-text {
  grid-area: the-text;
  min-width: 200px;
}
.the-amount {
  grid-area: the-amount;
}
.the-button {
  grid-area: the-button;
}
