input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.main {
  text-align: center;
  margin: auto;
  border: #6a6c70 solid;
  width: 1000px;
  height: 1000px;
  border-radius: 5px;
  background-color: #c3d2d7;
  padding: 20px;
}
#submit {
  background-color: #6a6c70;
  font-size: 20px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
  padding: 5px;
  color: #ffffff;
}
#register,
#register-form {
  margin-top: 50px;
}
