#in-stock-header {
  margin-top: 30px;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#in-stock-container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#out-ofstock-container {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  margin: 50px;
  border: solid black 2px;
  background-color: #2a2424;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  box-shadow: 0 -1px 5px 3px #01454b;
}

.product button {
  background-color: #d3df52;
  font-size: 20px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
  padding: 7px;
  color: #010101;
}

#out-stock-button {
  background-color: #6a6c70;
  font-size: 20px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
  padding: 12px;
  color: #ffffff;
}

.product-image {
  background-color: #ffffff;
}
